<%= form_with(model: @task, url: (@task.new_record? ? tasks_path : task_path(@task)), local: true) do |form| %>
  <% if @task.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= t('errors_on_save') %></h5>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :user_id %>
      <%= form.select :user_id, users_options_by_role, {}, class: 'form-control' %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :status %>
      <%= form.select :status, [['Em andamento', 'em_andamento'],['Finalizado', 'finalizado']],{},class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :scheduled_to %>
      <%= form.datetime_select :scheduled_to, {}, class: 'form-control', style: 'width: auto !important; display: inline' %>
    </div>
  </div>

  <div class="actions mt-3">
    <div class="btn-group" role="group" aria-label="Ações">
      <%= form.submit 'Salvar', class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Voltar para Lista', tasks_path, class: 'btn btn-sm btn-info' %>      
    </div>
  </div>
<% end %>
