<table id="tasks-datatable" data-source="<%= tasks_path(format: :json) %>" class="table mt-3 mb-3">
  <thead>
    <tr>
      <th>Título</th>
      <th>Responsável</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= link_to 'Criar Tarefa', new_task_path, class: 'btn btn-sm btn-info mt-3' %>
