<h5>Lista de Anotações</h5>
<table id="task-logs-datatable" data-source="<%= task_logs_path(task_id: task_id, format: :json) %>" class="table mt-3 mb-3">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Responsável</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>